:root {
  --font-size: 1.3em;
  --font-color: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #ffffff;
}
body {
  background-color: rgb(28, 27, 23);
}
body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-track {
  color: #737373;
}
body::-webkit-scrollbar-thumb {
  color: #38362e;
}
@font-face {
  font-family: Montserrat-Italic-VariableFont_wght;
  src: url(../fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf);
}
@font-face {
  font-family: Montserrat-VariableFont_wght;
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: NotoSans-Black;
  src: url(../fonts/Noto_Sans/NotoSans-Black.ttf);
}
@font-face {
  font-family: NotoSans-Bold;
  src: url(../fonts/Noto_Sans/NotoSans-Bold.ttf);
}
@font-face {
  font-family: NotoSans-Medium;
  src: url(../fonts/Noto_Sans/NotoSans-Medium.ttf);
}
@font-face {
  font-family: NotoSans-MediumItalic;
  src: url(../fonts/Noto_Sans/NotoSans-MediumItalic.ttf);
}
@font-face {
  font-family: Ubuntu-Bold;
  src: url(../fonts/Ubuntu/Ubuntu-Bold.ttf);
}
